.dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
}
.dialog-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 10001;
}
.dialog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    width: 90%;
    background-color: #fff;
    z-index: 10002;
    border-radius: 10px;
}
.dialog-content-header {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: -20px;
}
.dialog-content-body {
    font-size: 16px;
    color: #666;
    text-align: center;
    padding: 20px;
}
.dialog-content-footer {
    display: flex;
    display: -webkit-flex;
    position: relative;
}
.dialog-content-footer:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #d5d5d5;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
}
.dialog-btn {
    font-size: 17px;
    color: #007aff;
    height: 44px;
    line-height: 44px;
    flex: 1;
    -webkit-flex:1;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color:transparent;
    border: none;
    background-color: #fff;
    position: relative;
}
.dialog-btn:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    color: #d5d5d5;
    border-left: 1px solid #d5d5d5;
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
}
.dialog-btn:first-child {
    border-bottom-left-radius: 10px;
}
.dialog-btn:last-child {
    border-bottom-right-radius: 10px;
}
.dialog-show .dialog-content {
    animation: zoom-in 0.2s ease-in forwards;
    -webkit-animation: zoom-in 0.2s ease-in forwards;
}
.dialog-show .dialog-mask {
    animation: fade-in 0.2s ease-in forwards;
    -webkit-animation: fade-in 0.2s ease-in forwards;
}
.dialog-hide .dialog-content , .dialog-hide .dialog-mask {
    animation: fade-out 0.2s ease-in forwards;
    -webkit-animation: fade-out 0.2s ease-in forwards;
}
.dialog-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
}
.dialog-close-btn {
    font-size: 30px;
    position: absolute;
    top: 4px;
    right: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #999;
}
@keyframes zoom-in {
    0% {
        transform: translate(-50% , -50%) scale(1.2 , 1.2);
        -webkit-transform: translate(-50% , -50%) scale(1.2 , 1.2);
        opacity: 0;
    }
    100% {
        transform: translate(-50% , -50%) scale(1 , 1);
        -webkit-transform: translate(-50% , -50%) scale(1 , 1);
        opacity: 1;
    }
}
@-webkit-keyframes zoom-in {
    0% {
        transform: translate(-50% , -50%) scale(1.2 , 1.2);
        -webkit-transform: translate(-50% , -50%) scale(1.2 , 1.2);
        opacity: 0;
    }
    100% {
        transform: translate(-50% , -50%) scale(1 , 1);
        -webkit-transform: translate(-50% , -50%) scale(1 , 1);
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}