<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>日期选择组件</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/components/datepicker/datepicker.css">
    <script src="public/util/util.js"></script>
    <script src="public/components/datepicker/datepicker.js"></script>
</head>
<body>
<h1 style="text-align: center;">日期选择组件</h1>
<div style="width: 800px;margin: 40px auto;">
    <input type="text" placeholder="请选择日期" id="datepicker" style="padding: 5px;outline: none;">
</div>
<script>
    var datepicker = document.getElementById('datepicker');
    Datepicker(datepicker , {
        format : 'YYYY:MM:DD',
        joiner : '-',
        onChange : function () {
            console.log(this.currentDate)
        }
    });
</script>
</body>
</html>