<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>弹框组件</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/components/dialog/dialog.css">
    <script src="public/util/util.js"></script>
    <script src="public/components/dialog/dialog.js"></script>
</head>
<body>
<h1 style="text-align: center;padding: 40px;">弹框组件</h1>
<p style="font-size: 16px;margin: 10px;">alert弹框类型</p>
<div style="margin: 10px;">
    <button id="btn1" style="border: none;outline: none;background-color: #ddd;padding: 4px 8px;">显示弹框</button>
</div>
<div class="dialog" style="position: fixed;top: 0;left: 0;z-index: 10000;width: 100%;height: 100%;">
    <div class="dialog-mask" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.5);z-index: 100001;"></div>
    <div class="dialog-content">
        <div class="dialog-header">
            
        </div>
        <div class="dialog-body"></div>
        <div class="dialog-footer"></div>
    </div>
</div>
<script>
    var btn1 = document.getElementById('btn1');
    Dialog(btn1 , {
        title : '我是弹框',
        content : '我是一个弹框，我来自andy'
    });
</script>
</body>
</html>