<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>弹框组件</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/components/dialog/dialog.css">
    <script src="public/util/util.js"></script>
    <script src="public/components/dialog/dialog.js"></script>
</head>
<body>
<h1 style="text-align: center;padding: 40px;">弹框组件</h1>
<p style="font-size: 16px;margin: 10px;">alert弹框类型</p>
<div style="margin: 10px;">
    <button id="btn1" style="border: none;outline: none;background-color: #ddd;padding: 4px 8px;">显示弹框</button>
</div>
<!-- <div id="dialog" class="dialog dialog-show">
    <div class="dialog-mask" id="dialog-mask"></div>
    <div class="dialog-content">
        <div id="dialog-content-header" class="dialog-content-header">
            我是标题
        </div>
        <div id="dialog-content-body" class="dialog-content-body">
            我是一个弹框，我来自andy
        </div>
        <div id="dialog-content-footer" class="dialog-content-footer">
            <button class="dialog-btn">确定</button>
        </div>
    </div>
</div> -->
<script>
    var btn1 = document.getElementById('btn1');
    Dialog(btn1 , {
        title : '提示',
        content : '我是一个弹框，我来自andy'
    });
</script>
</body>
</html>