<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>前端组件集合</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="public/css/font.css">
</head>
<body>
    <h1 class="title">前端组件集合</h1>
    <div class="container">
        <a href="/backtop">
            回到顶部
        </a>
        <a href="/slider">
            图片轮播(移动版)
        </a>
        <a href="/carousel">
            图片轮播(桌面版)
        </a>
        <a href="/select">
            选择地区
        </a>
        <a href="/backTop">
            回到顶部
        </a>
        <a href="/backTop">
            回到顶部
        </a>
        <a href="/backTop">
            回到顶部
        </a>
    </div>
</body>
</html>