<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图片懒加载组件</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/font.css">
    <link rel="stylesheet" href="public/components/lazyload/lazyload.css">
    <script src="public/util/util.js"></script>
    <script src="public/components/lazyload/lazyload.js"></script>
</head>
<body>
    <div id="container">
        <div style="width: 400px;height: 400px;"><img _src="public/image/1.jpg" style="width:400px;height:100%;" alt=""></div>
        <div style="width: 400px;height: 400px;"><img _src="public/image/2.jpg" style="width:400px;height:100%;" alt=""></div>
        <div style="width: 400px;height: 400px;"><img _src="public/image/3.jpg" style="width:400px;height:100%;" alt=""></div>
        <div style="width: 400px;height: 400px;"><img _src="public/image/4.jpg" style="width:400px;height:100%;" alt=""></div>
        <div style="width: 400px;height: 400px;"><img _src="public/image/5.jpg" style="width:400px;height:100%;" alt=""></div>
        <div style="width: 400px;height: 400px;"><img _src="public/image/6.jpg" style="width:400px;height:100%;" alt=""></div>
        <div style="width: 400px;height: 400px;"><img _src="public/image/7.jpg" style="width:400px;height:100%;" alt=""></div>
        <div style="width: 400px;height: 400px;"><img _src="public/image/8.jpg" style="width:400px;height:100%;" alt=""></div>
        <div style="width: 400px;height: 400px;"><img _src="public/image/9.jpg" style="width:400px;height:100%;" alt=""></div>
        <div style="width: 400px;height: 400px;"><img _src="public/image/10.jpg" style="width:400px;height:100%;" alt=""></div>
    </div>
</body>
<script>
    var container = document.getElementById('container');
    Lazyload(container , {

    });
</script>
</html>