<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>选择地区组件</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/font.css">
    <link rel="stylesheet" href="public/components/select/select.css">
    <script src="public/util/util.js"></script>
    <script src="public/components/select/select.js"></script>
</head>
<body>

<h3 style="text-align: center;padding: 20px;">地区选择组件</h3>
<div style="width: 800px;margin: 0 auto;">
    <div id="select">
        <select name="province" id="province">
            <option>- 请选择 -</option>
        </select>
        <select name="city" id="city">
            <option>- 请选择 -</option>
        </select>
    </div>
    <br>
    <div style="border: 1px dotted #ccc;margin-bottom: 20px;">
        <pre style="padding: 10px">
var select = document.getElementById('select');
Select(select , {
    dataUrl : './public/components/select/area.json',
    onChange : function (value) {
        console.log(value);
    }
});
        </pre>
    </div>
    <div id="select1">
        <select name="province">
            <option>- 请选择 -</option>
        </select>
        <select name="city">
            <option>- 请选择 -</option>
        </select>
    </div>
    <br>
    <div style="border: 1px dotted #ccc;margin-bottom: 20px;">
        <pre style="padding: 10px;">
var select1 = document.getElementById('select1');
Select(select1 , {
    dataUrl : './public/components/select/area.json',
    province : '广东',
    city : '广州',
    area : '天河',
    onChange : function (value) {
        console.log(value);
    }
});
        </pre>
    </div>
    <div id="select2" style="position: relative;">
        <label for="address">所在地址：</label>
        <input type="text" class="address" id="address" style="border: none;border-bottom: 1px solid #ccc;outline: none;">
    </div>
    <br>
    <div style="border: 1px dotted #ccc;">
        <pre style="padding: 10px;">
var select2 = document.getElementById('select2');
var address = document.getElementById('address');
Select(select2 , {
    dataUrl : './public/components/select/area.json',
    type : 'pop-select',
    setPopStyle : {
        left : '40px'
    },
    onLastChange : function () {
        if (arguments.length > 2) {
            address.value = arguments[0] + arguments[1] + arguments[2];
        } else {
            address.value = arguments[0] + arguments[1]
        }
    },
    onChange : function () {
        console.log('切换')
    }
});
        </pre>
    </div>
</div>
<div style="height: 1000px;"></div>
<script>

var select = document.getElementById('select');
Select(select , {
    dataUrl : './public/components/select/area.json',
    onChange : function (value) {
        console.log(value);
    }
});

var select1 = document.getElementById('select1');
Select(select1 , {
    dataUrl : './public/components/select/area.json',
    province : '广东',
    city : '广州',
    area : '天河',
    onChange : function (value) {
        console.log(value);
    }
});

var select2 = document.getElementById('select2');
var address = document.getElementById('address');
Select(select2 , {
    dataUrl : './public/components/select/area.json',
    province : '广东',
    city : '广州',
    area : '天河',
    type : 'pop-select',
    setPopStyle : {
        left : '40px'
    },
    onLastChange : function () {
        if (arguments.length > 2) {
            address.value = arguments[0] + arguments[1] + arguments[2];
        } else {
            address.value = arguments[0] + arguments[1]
        }
    },
    onChange : function () {
        console.log('切换')
    }
});

</script>

</body>
</html>