<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图片轮播组件</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/font.css">
    <link rel="stylesheet" href="public/components/slider/slider.css">
    <script src="public/util/util.js"></script>
    <script src="public/components/slider/slider.js"></script>
</head>
<body>
<h3 style="text-align: center;padding: 20px;">移动端轮播图组件</h3>
<div class="slide-container" id="slider" style="margin: 0 auto">
    <ul class="slider-list">
        <li class="slider-li">
            <img src="public/image/slider1.jpg" class="slider-image" alt="">
        </li>
        <li class="slider-li">
            <img _src="public/image/slider2.jpg" class="slider-image" alt="">
        </li>
        <li class="slider-li">
            <img _src="public/image/slider3.jpg" class="slider-image" alt="">
        </li>
        <li class="slider-li">
            <img _src="public/image/slider4.jpg" class="slider-image" alt="">
        </li>
        <li class="slider-li">
            <img _src="public/image/slider5.jpg" class="slider-image" alt="">
        </li>
        <li class="slider-li">
            <img _src="public/image/slider6.jpg" class="slider-image" alt="">
        </li>
        <li class="slider-li">
            <img _src="public/image/slider7.jpg" class="slider-image" alt="">
        </li>
        <li class="slider-li">
            <img _src="public/image/slider8.jpg" class="slider-image" alt="">
        </li>
    </ul>
</div>

<script>
var slider = document.getElementById('slider');
Slider(slider , {
    lazy : true,
    dot : true,
    autoPlay : true
});
</script>


</body>
</html>