<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图片上传组件</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/font.css">
    <link rel="stylesheet" href="public/components/upload/upload.css">
    <script src="public/util/util.js"></script>
    <script src="public/components/upload/upload.js"></script>
</head>
<body>

<h1 style="text-align: center;padding: 40px;">图片上传组件</h1>
<input type="file" id="file" class="upload_input">
<div class="container">
    <button class="upload_button">
        <span>点击上传</span>
    </button>
</div>
</body>
</html>