<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图片上传组件</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/font.css">
    <link rel="stylesheet" href="public/components/upload/upload.css">
    <script src="public/util/util.js"></script>
    <script src="public/components/upload/upload.js"></script>
</head>
<body>
<h1 style="text-align: center;padding: 40px;">图片上传组件</h1>
<div class="container">
    <!-- <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="upload" id="file" multiple>
        <span class="dropArea" id="dropZoom">可将图片拖到此处</span>
        <div id="preview-box" class="preview-box"></div>
    </form> -->
    <input type="file" name="upload" id="file" multiple>
    <span class="dropArea" id="dropZoom">可将图片拖到此处</span>
    <!-- 存放预览图的容器 -->
    <div id="preview-box" class="preview-box"></div>
</div>
<script>
    var file = document.getElementById('file');
    var previewBox = document.getElementById('preview-box');
    var dropZoom = document.getElementById('dropZoom');
    Upload([file , dropZoom] , {
        previewBox : previewBox,      // 存放预览图的容器
        autoUpload : false,           // 是否自动上传
        width : 70,       // 预览图的宽度
        height : 'auto',       // 预览图的高度
        size : 1024 * 1024 * 20,    // 允许上传图片的大小
        onDragOver : function (dropDom) {
            console.log('dragover');
        },
        onDragLeave : function (dropDom) {
            console.log('dragleave');
        },
        success : function (file , result) {
            console.log(file.name + '上传成功');
        },
        fail : function (file , err) {
            console.log(file.name + '上传失败');
        },
        complete : function () {
            console.log('所有图片都已经上传成功')
        }
    });
</script>
</body>
</html>