.backtop-box{
    width: 40px;
    height: 40px;
    border-radius:50%;
    border: 1px solid #333;
    text-align:center;
    line-height: 40px;
    position: fixed;bottom: 20px;
    right: 20px;
}
.icon-backTop{
    font-size: 24px;
    color: #666;
}
.backtop {
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transform : translate3d(62px , 0 , 0);
    -webkit-transform : translate3d(62px , 0 , 0);
}