html , body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.section {
    width: 100%;
    height: 100%;
}
#fullpage {
    height: 100%;
    position: relative;
}
.section1 {
    background-color: red;
    -webkit-backface-visibility: hidden;
}
.section2 {
    background-color: green;
    -webkit-backface-visibility: hidden;
}
.section3 {
    background-color: blue;
    -webkit-backface-visibility: hidden;
}
.section4 {
    background-color: #f60;
    -webkit-backface-visibility: hidden;
}
.dot-box{
    position: fixed;
    top: 50%;
    right: 20px;
    z-index: 2;
    margin-top: -35px;
}
.dot-list {
    position: relative;
}
.dot-list li {
    display: block;
    position: relative;
    width: 4px;
    height: 4px;
    margin: 10px;
}
.dot-list .dot-active {
    width: 8px;
    height: 8px;
}
.dot-active .dot {
    margin-left: -2px;
}
.dot{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
}